<html>
<head>
  <title>Admin Panel</title>
  <link rel="icon" href="/favicon.ico" type="image/icon">
</head>
<body>

  <h2>Welcome, <%= @user.username %>!</h2>
  <h3>What would you like to do?</h3>

  <a href="/new_user">Create New User</a><br>
  <a href="/buzz">Buzz Door Open (this will log you out)</a><br>
  <a href="/logout">Log Out</a>

</body>
</html>