<html>
<head>
	<title>Unsuccessful</title>
	<link rel="icon" href="/favicon.ico" type="image/icon">
</head>
<body>
	<h1>Access Denied</h1>

	<img src="/cat-guard.jpg" alt="cat guard">

	<p>Please make sure you have the correct username and password.</p>

	<a href="/login">Try again.</a>

</body>
</html>