<div class="total-failure">
  <div class="jumbotron center custom">
    <div class="button-centered">
        <h1>Access Denied</h1>
        <p>Please make sure you have the correct username and password.</p>
        <a href="/login" class="btn btn-success btn-lg">Try again</a>
    </div>
  </div>
</div>