<html>
<head>
  <title>Buzzer - Please log in</title>
  <link rel="icon" href="/favicon.ico" type="image/icon">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.css">

  <meta name='viewport' content='user-scalable=no'>
</head>
<body>

  <%= yield %>
  
</body>
</html>