<div class="total-login">
  <div class="jumbotron center custom">
    <div class="button-centered">
    	<h2>Welcome to Court Street Buzzer</h2>
      <h3>Guests, please log in to open the door</h3>
      <form action="/login" method="POST" class="form-inline">
        <div class="form-custom">
          Username: <input type="text" name="username" placeholder="username" class="form-control"><br>
          Password: <input type="password" name="password" placeholder="password" class="form-control"><br>
        </div>
    	<input type="submit" value="OPEN DOOR" class="btn btn-success btn-lg">
    	</form>
    </div>
  </div>
</div>
