<html>
<head>
	<title>Buzzer - Please log in</title>
	<link rel="icon" href="/favicon.ico" type="image/icon">
</head>
<body>
	<h2>Welcome to Court Street Buzzer</h2>
  <h3>Guests, please log in to open the door</h3>
	<img src="/cats-door.jpg" alt="cats">
	<form action="/login" method="POST">
      Username: <input type="text" name="username" placeholder="username"><br>
      Password: <input type="password" name="password" placeholder="password"><br>
	<input type="submit" value="OPEN DOOR">
	</form>
</body>
</html>
