<html>
<head>
  <title>Create New User</title>
  <link rel="icon" href="/favicon.ico" type="image/icon">
</head>
<body>
  <h2>Create a New User</h2>
  <form action="/new_user" method="POST">
      Username: <input type="text" name="username" placeholder="username"><br>
      Password: <input type="password" name="password" placeholder="password"><br>
  <input type="submit" value="CREATE USER">
  </form>
</body>
</html>