<div class="total-success">
  <div class="jumbotron center custom">
    <div class="button-centered">
      <h1> The door was opened! </h1>
      <a href="/login" class="btn btn-success btn-lg">Open Door Again</a>
    </div>
  </div>
</div>