<html>
<head>
	<title>Door Opened!</title>
	<link rel="icon" href="/favicon.ico" type="image/icon">
</head>
<body>
	<h1> The door was opened! </h1>

	<img src="/open-door.jpg" alt="open door">

	<h2>Need to open the door again? You must <a href="/login">log in</a> again.</h2>

</body>
</html>